.items-wrapper {
  background-color: rgb(48, 232, 191, 0.1);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: flex-start !important;
  flex-wrap: wrap;
  padding: 10px 20px 20px 20px;
}